<div class="section"><br><br><br>
    <div class="col-md-4"></div>

    <div class="col-md-2">
      <p id="a"><%= @m%></p>
        <table class="table table-striped">
          <tr><th>Курс</th><th>Валюта</th></tr>
          <% @cur.each_with_index do |p, i| %>
              <tr>
                <td id="cur<%=i %>"><%=p %></td>
                <td id="val<%=i %>"><%= @val[i] %></td>
              </tr>
          <%end%>
        </table>
    </div>
    <div class="col-md-1">
      <input type="text" class="datepicker" id="d">
    </div>
</div>