<h1>Curr#index</h1>
<p>привет</p>

<p>Find me in app/views/curr/index.html.erb  <%= @att %> </p>


<input type="text" class="datepicker">

<br>
<p><%= @dat%></p>
<br>
<table border="1px">
  <tr><th>Валюта</th><th>Курс</th></tr>
  <tr><td><%=@cur1 %></td><td><%=@val1 %> руб.</td></tr>
  <tr><td><%=@cur2 %></td><td><%=@val2 %> руб.</td></tr>
</table>
