




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div id="container" style="height: 400px; min-width: 310px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<div class="section"><br><br><br>
    <div class="col-md-4"></div>

    <div class="col-md-3">
      <p id="a"><%= @m%></p>
      <table class="table table-striped">
        <tr><th>Валюта</th><th>Курс</th></tr>
        <% @currency.each_with_index do |p, i| %>
            <tr>
              <td id="val<%= i %>" > <%= p[:charcode] %> </td>
              <td id="cur<%= i %>" data-name="<%= p[:charcode] %>"  data-id="<%= p[:id] %>" ><%= p[:value] %> руб.<span class="glyphicon glyphicon-stats" data-toggle="modal" data-target="#myModal"></span></td>
            </tr>
        <%end%>
      </table>
    </div>
    <div class="col-md-1">
      <input type="text" class="datepicker" id="d">
    </div>
</div>
